body * h1, h2, .game, a, .people {
    font-family: 'Bebas Neue', cursive;
    color: #1f1f1f;
}

body * p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

body * .game, .people {
    font-size: 18px;
}

/* NAVBAR */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.nav h1 {
    font-family: 'Bebas Neue', cursive;
    padding: 0;
    margin: 0;
}

.nav .players, .nav .players .numbers {
    display: flex;
}

.nav .numbers-mobile {
    display: none;
}

.nav .numbers a, .nav .numbers span  {
    width: 40px;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.nav .numbers span {
    font-size: 40px;
    color: #bfd3b5;
}

.nav .numbers-mobile span {
    font-size: 30px;
    color: #bfd3b5;
}

.nav a:hover, .nav a.active {
    background-color: #dce6d7;
}

.nav a {
    text-decoration: none;
    background-color: #fafafa;
    padding: 10px;
    color: #1f1f1f;
    margin: 5px;
}


/* JACKBOX GAMES */
.jackbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 100px;
}

.jackbox-pack {
    width: 30%;
    flex-grow: 1;
    margin: 5px;
    align-items: stretch;
}

.jackbox-pack h2 {
    margin: 0;
    padding: 10px;
}

.jackbox-game {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bfd3b5;
    background-color: #fafafa;
    padding: 10px;
}

.jackbox-game.empty {
    background-color: white;
    border: none;
    color: #9b9b9b;
}

.jackbox-game div {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.jackbox-game div .people {
    align-items: center;
    display: flex;
}

.jackbox-game div .people span {
    font-size: unset;
    padding-right: 5px;
    color: #505050;
} 

.jackbox-game p {
    padding: 5px;
    margin: 5px;
    flex-wrap: wrap;
}

.jackbox-game:hover {
    background-color: #dce6d7;
    cursor: pointer;
}
.jackbox-game.empty:hover {
    background-color: #fff;
    cursor: pointer;
}

.jackbox-game h3, .jackbox-game p {
    padding: 0;
    margin: 0;
}

@media (max-width: 1000px){
    .jackbox-pack {
        width: 48%;
    }
}

@media (max-width: 850px){
    .nav .players .numbers {
        display: none;
    }
    .nav.nav-mobile {
        justify-content: flex-end;
    }
    .nav .numbers-mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .nav .numbers-mobile a {
        width: 20px;
        text-align: center;
    }
}

@media (max-width: 650px){
    .jackbox-pack {
        width: 98%;
    }
}
